/mod_SleepyTime/bin/*
/mod_SleepyTime/conf/*
/mod_SleepyTime/docs/*
/mod_SleepyTime/eclipse/*
/mod_SleepyTime/forge/*
/mod_SleepyTime/jars/*
/mod_SleepyTime/lib/*
/mod_SleepyTime/logs/*
/mod_SleepyTime/modsrc/*
/mod_SleepyTime/reobf/*
/mod_SleepyTime/runtime/*
/mod_SleepyTime/temp/*
/mod_SleepyTime/CHANGELOG
/mod_SleepyTime/LICENSE.txt

/mod_SleepyTime/src/minecraft/*
/mod_SleepyTime/src/minecraft_server/*
/mod_SleepyTime/src/common/*
!/mod_SleepyTime/src/common/com/theswak/*

# Java Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# MCP and other Misc Files #
*.bat
*.sh
*.DS_Store
*.gitignore
*.zip
forge/common/
forge/fml/
forge/mcp/conf/
forge/mcp/eclipse/
forge/client/
forge/mcp/docs/
forge/mcp/jars/
forge/mcp/runtime/
forge/mcp/src/minecraft/cpw/
forge/mcp/src/minecraft/net/
forge/mcp/src/minecraft/ibxm/
forge/mcp/temp/src/minecraft/assets/
forge/mcp/temp/src/minecraft/net/minecraft/block/
forge/mcp/temp/
forge/patches/minecraft/net/minecraft/block/
forge/patches/minecraft/net/minecraft/client/
forge/patches/
forge/mcp/src/minecraft/assets/
forge/MinecraftForge-Changelog.txt
forge/MinecraftForge-Credits.txt
forge/MinecraftForge-Credits.txt~
forge/MinecraftForge-License.txt
forge/MinecraftForge-License.txt~
forge/Paulscode IBXM Library License.txt
forge/Paulscode SoundSystem CodecIBXM License.txt
forge/README-MinecraftForge.txt
forge/forge.py
forge/forge.pyc
forge/forgeversion.properties
forge/install.cmd
forge/install.py
forge/mcp/CHANGELOG
forge/mcp/LICENSE.txt
forge/mcp/src/minecraft/Start.java
forge/mcp/src/minecraft/deobfuscation_data-1.6.4.lzma
forge/mcp/src/minecraft/fml_at.cfg
forge/mcp/src/minecraft/fml_marker.cfg
forge/mcp/src/minecraft/fmlversion.properties
forge/mcp/src/minecraft/forge_at.cfg
forge/mcp/src/minecraft/forge_at.cfg~
forge/mcp/src/minecraft/forge_logo.png
forge/mcp/src/minecraft/mcpmod.info
forge/mcp/src/minecraft/paulscode/sound/codecs/CodecIBXM.java
