/mod_SleepyTime/bin/*
/mod_SleepyTime/conf/*
/mod_SleepyTime/docs/*
/mod_SleepyTime/eclipse/*
/mod_SleepyTime/forge/*
/mod_SleepyTime/jars/*
/mod_SleepyTime/lib/*
/mod_SleepyTime/logs/*
/mod_SleepyTime/modsrc/*
/mod_SleepyTime/reobf/*
/mod_SleepyTime/runtime/*
/mod_SleepyTime/temp/*
/mod_SleepyTime/CHANGELOG
/mod_SleepyTime/LICENSE.txt

/mod_SleepyTime/src/minecraft/*
/mod_SleepyTime/src/minecraft_server/*
/mod_SleepyTime/src/common/*
!/mod_SleepyTime/src/common/com/theswak/*

*.bat
*.sh
*.DS_Store
*.gitignore
